
*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Arial, sans-serif;
}
html{
    overflow: hidden;
}
body{
    overflow: auto;
}
text {
    font-family: Verdana, Arial, sans-serif;
}
#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.chartFrame {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#chart {
    flex: 1;
    min-height: 15em;
}
#selectors {
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
}

.startSelect label {
    display: block;
    padding: 0.3em;
    width: 4em;
}

.selector {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
}
.fieldSelector {
    margin: 0.3em;
    display: flex;
    align-items: center;
}
input.colorSelect {
    width: 3em;
    height: 2em;
    margin: 0.3em;
}
select.formatterSelect {
    height: 2em;
}
#hourSelect {
    border-bottom: 1px solid grey;
    margin-bottom: 0.5em;
}
button {
    width: 6em;
    margin: 0.3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3em;
    border-width: 1px;
}
button#start{
    background-image: url("icons/play_circle_outline.svg");
}
button#reload{
    background-image: url("icons/refresh.svg");
}
.tooltip{
    background-color: lightgray;
    padding: 0.2em;
    border-radius: 0.1em;
}

@media (max-width: 1000px) {
    .chartFrame{
        flex-direction: column;
    }
    .startSelect label {
        display: inline-block;
    }
}
