@smallBreak: 1000px;
@import "spinner";
*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Arial, sans-serif;
}
html{
    overflow: hidden;
}
body{
    overflow: auto;
    display: flex;
    flex-direction: column;
}
text {
    font-family: Verdana, Arial, sans-serif;
}

.blink {
    animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }
@keyframes blinker { to { opacity: 0; } }

.unknown {
    background-image: radial-gradient(rgba(128, 128, 128,1), rgba(128, 128, 128, 0.6),transparent);
}
.ok{
    background-image: radial-gradient(rgba(10, 240, 10,1), rgba(10, 240, 10, 0.6),transparent);    
}
.running{
    .blink();
    background-image: radial-gradient(rgb(255, 184, 3), rgb(250, 219, 137),transparent);
}
.error{
    background-image: radial-gradient(rgba(240, 10, 10,1), rgba(240, 10, 10, 0.6),transparent);
}
.textError{
    background-color: rgba(246, 2, 2,0.6);
}
.title {
    height: 4em;
    background-color: rgb(84, 110, 122);
    color: white;
    font-weight: bold;
    flex-shrink: 0;
    padding: 1em;
}
#root {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.tab{
    display: none;
}
.tab.active{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tabSelect {
    display: flex;
    flex-direction: row;
}
.tabSelect .selector {
    flex: 1;
    text-align: center;
    line-height: 2em;
    color: white;
    background-color: rgba(84, 110, 122, 0.4);
    padding: 0.8em;
    border-right: 1px solid black;
}
.tabSelect .selector.active{
    background-color: rgba(84, 110, 122, 0.7);
}

iframe.demoFrame {
    height: 100%;
    margin: 0;
    width: 100%;
}

#downloadtab{
    flex-direction: row;
    .rightFrame{
        display: flex;
        flex-direction: column;
        .frame{
            display: flex;
            flex-direction: column;
            @media (max-width: @smallBreak){
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        .seedStatusFrame {
            @media (max-width: @smallBreak) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        .buttonFrame{
            margin-top: 1em;
            flex-direction: row;
            .buttonCol {
                display: flex;
                flex-direction: column;
            }
            @media(max-width: @smallBreak){
                margin-top:unset;
                .buttonCol{
                    flex-direction: row;
                }
            }
        }
    }
    .value {
        display: inline-block;
        padding: 0.3em;
        font-size: 1em;
        min-height: 1em;
        &.seedInfo{
            font-size: 0.8em;
            max-width: 18em;
            word-break: break-word;
        }
    }

}

#statustab{
    button{
        width: 4em;
        margin-left: 1em;
        margin-right: 1em;
        flex-shrink: 0;
    }
    #stopSeed{
        display:none;
    }
    #statusLayers {
        flex-direction: column;
        align-items: flex-start;
        .value {
            margin-left: 2.5em;
        }
    }
}


.statusFrame {
    display: flex;
    flex-direction: column;
}

.layerSelect {
    margin: 0.5em;
}
.layerFrame {
    display: flex;
    flex-direction: column;
}
.selectionName{
    input {
        border: 1px solid lightgray;
        padding: 0.3em;
        font-size: 1em;
    }
    .label{
        display: block;
        @media(max-width: @smallBreak){
            display: inline-block;
        }
    }
}


button {
    width: 7em;
    margin: 0.3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3em;
    border-width: 1px;
    border-radius: 0.2em;
    border-color: #80808047;
}

.row {
    display: flex;
    align-items: center;
}

.state {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;

}

.label {
    display: inline-block;
    margin: 0.3em;
    font-size: 0.8em;
    opacity: 0.6;
    width: 5em;
}
.state .label {
    width: 6em;
    flex-shrink: 0;
    flex-grow: 0;
}


.statusText{
    margin: 0.3em;
    height: 1em;
    display: inline-block;
    width: 1em;
    border-radius: 50%;
    flex-shrink: 0;
}

.statusText[data-status="3"] {
    color:#08080891;
}
.statusText[data-status="2"] {
    color:red;
}
.statusText[data-status="1"] {
    color:green;
}

.mapframe {
    flex: 1;
}
.map{
    width: 100%;
    height: 100%;
}

.select {
    padding: 1em;
    border-bottom: 1px solid lightgray;
}

.overlayFrame{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #00000073;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.overlay {
    display: flex;
    flex-direction: column;
    max-width: 50em;
    width: 90%;
    max-height: 90%;
    background-color: white;
    flex: 1;
    h3 {
        padding-left: 1em;
    }
    .select {
        padding: 1em;
        border-bottom: 1px solid lightgray;
    }

}

#editOverlay .overlay{
    max-width: unset;
}

.overlayContent {
    flex: 1;
    border-bottom: 1px solid grey;
    padding: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    white-space: pre-line;
    position: relative;
}

#logOverlay{
    .overlay{
        max-width: unset;
        font-size: 0.9em;
    }
}


.overlayButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#spinnerOverlay{
    .overlayContent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#toast {
    position: fixed;
    bottom: 2em;
    left: 3em;
    background-color: #1d1b1b;
    opacity: 1;
    z-index: 1000;
    padding: 0.8em;
    color: white;
    visibility: hidden;
    &.error{
        background-color: #ef0505;
    }
}

@media (max-width: @smallBreak) {
    #root{
        flex-direction: column;
    }
    #downloadtab{
        flex-direction: column;
    }
    .layerFrame {
        flex-direction: row;
    }

}

.zoomInfoControl{
    padding: 0.3em;
    font-size: 1.2em;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
